@model Application.Models.SavePokemonRegion;
@{
    ViewData["Title"] = "Update pokemon region Page";
}

<div class="flex items-center justify-center p-12">
    <div class="mx-auto w-full max-w-[550px]">
        <div class="mb-4">
            <h1 class="font-medium leading-tight text-5xl mt-0 mb-10 text-blue-600">Update Pokemon Region</h1>
            <a asp-area="" asp-controller="Region" asp-action="Index" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mb-10">No, go back</a>
        </div>
        <form method="POST" asp-action="Update" asp-controller="Region">
            <input type="number"
                   asp-for="Id"
                   placeholder="id"
                   hidden
                   class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
            <div class="mb-5">
                <label for="name"
                       class="mb-3 block text-base font-medium text-[#07074D]">
                    Pokemon region name
                </label>
                <input type="text"
                       asp-for="NombreRegion"
                       placeholder="Aldea"
                       class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
                <span class="text-red-50" asp-validation-for="NombreRegion"></span>
            <div>
                <button class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-base font-semibold text-white outline-none">
                    Update
                </button>
            </div>
        </form>
    </div>
</div>
